@import 'tailwindcss';

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
#root {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: var(--color-blue-950);
}

@font-face {
    font-family: 'nunitoSans';
    src: url('../public/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff2'),
        url('../public/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}


@theme {
    --color-blue-900: hsla(209, 23%, 22%, 100%);
    --color-blue-focus: hsl(209, 23%, 32%);
    --color-blue-950: hsl(207, 26%, 17%);
    --color-grey-950: hsl(200, 15%, 8%);
    --color-grey-400: hsl(0, 0%, 50%);
    --color-grey-350: hsl(0, 0%, 59%);
    --color-grey-300: hsl(0, 0%, 70%);
    --color-grey-250: hsl(0, 0%, 77%);
    --color-grey-50: hsl(0, 0%, 99%);
    --color-white: hsl(0, 100%, 100%);

    --text-preset-1: 2rem;
    --text-preset-2: 1.5rem;
    --text-preset-3: 1.125rem;
    --text-preset-4: 1rem;
    --text-preset-5: .875rem;
    --text-preset-6: .75rem;

    --font-nunitoSans: 'nunitoSans', sans-serif;

    --spacing-clampHeader: clamp(1rem, -0.1518rem + 5.7589vw, 5.03125rem);
    --spacing-clampHeader01: clamp(1rem, -0.1186rem + 5.5928vw, 2.5625rem);

}


/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */
